{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
</head>
<body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{% url 'homePage' %}">
                    <h1 class="title has-text-white">Kinoland</h1>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu has-background-info">
                <div class="navbar-start">
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if user.is_authenticated %}
                            <a href="{% url 'allPost' %}" class="button is-white is-outlined is-rounded">Списки</a>
                            {% if user.is_superuser %}
                            <a href="{% url 'addPost' %}" class="button is-white is-rounded">Добавить</a>
                            {% endif %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link is-white is-rounded">{{ user }}</a>
                                <div class="navbar-dropdown">
                                    <a href="{% url 'logout' %}" class="navbar-item">Выход</a>
                                </div>
                            </div>
                            {% else %}
                            <a href="{% url 'register' %}" class="button is-white is-rounded">Регистрация</a>
                            <a href="{% url 'login' %}" class="button is-white is-rounded">Вход</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>



    {% block content %}
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
